
@{
    ViewData["Title"] = "My Page";
    Layout = "~/Views/Shared/Default.cshtml";
}
<div class="item-pro-home">
    <div class="box-img-pro-home">
        <img src="~/images/TV_1.jpg" />
    </div>
    <a href="#">ТV Samsung UE43TU7090U</a>
    <p> Price:27990 Rubles</p>
</div>
<div class="item-pro-home">
    <div class="box-img-pro-home">
        <img src="~/images/TV_2.jpg" />
    </div>
    <a href="#">TV PHILIPS 55PUS6704/60, 55", Ultra HD 4K</a>
    <p> Price:39990 Rubles</p>
</div>
<div class="item-pro-home">
    <div class="box-img-pro-home">
            <img src="~/images/TV_3.jpg" />
        <a href="#">TV LED HD 40 inch B7000 Series 7</a>
        <p> Price:40990 Rubles</p>
    </div>
</div>
<div class="item-pro-home">
    <div class="box-img-pro-home">
            <img src="~/images/TV_4.jpg" />
        <a href="#">TV LED ASANZO 40S890 40 INCH</a>
        <p> Price:35700 Rubles</p>
    </div>
</div>
<div class="item-pro-home">
    <div class="box-img-pro-home">
            <img src="~/images/TV_5.jpg" />
        <a href="#"> TV LED ASANZO 32 INCH 32AH102</a>
        <p> Price:20000 Rubles</p>
    </div>
</div>
<div class="item-pro-home">
    <div class="box-img-pro-home">
        <img src="~/images/TV_6.jpg" />
        <a href="#">
            TV LED ASANZO 40AT320 40 INCH
        </a>
        <p> Price:40000 Rubles</p>
    </div>
</div>
<div class="item-pro-home">
    <div class="box-img-pro-home">
        <img src="~/images/TV_7.jpg" />
        <a href="#">SMART TV 4K ASANZO 75UV9 75 INCH</a>
        <p> Price:60000 Rubles</p>
    </div>
</div>
<div class="item-pro-home">
    <div class="box-img-pro-home">
        <img src="~/images/TV_8.jpg" />
        <a href="#">Smart TV LG 4K 55 inch 55UN7290PTF</a>
        <p> Price:65000 Rubles</p>
    </div>
</div>
<div class="item-pro-home">
    <div class="box-img-pro-home">
        <img src="~/images/TV_9.jpg" />
        <a href="#">Smart TV LG 4K 65 inch 65UN7290PTF</a>
        <p> Price:65000 Rubles</p>
    </div>
</div>
<div class="item-pro-home">
    <div class="box-img-pro-home">
        <img src="~/images/TV_10.jpg" />
        <a href="#">Smart TV LG 4K 55 inch 55UN7290PTF</a>
        <p> Price:60000 Rubles</p>
    </div>
</div>


